:root{
    --mainText: rgb(0, 0, 0);
    --secondaryText: #4b5156;
    --mainColor: #eaeaea;
    --secondaryColor: #fff;
    --borderColor: #c1c1c1;
    --themeDotBorder: #24292e;
    --previewBg: rgb(251,249,243,0.8);
    --previewShadow: #f0ead6;
    --buttonColor: black;
}


html, body{
    padding: 0;
    margin: 0;

}

h1, h2, h3, h4, h5, h6, strong{
    color: var(--mainText);
    font-family: 'Russo One', sans-serif;
}

p, li, span, label, input, textarea{
    color: var(--mainText);
    font-family: 'Roboto Mono', monospace;

}

.s1{
    background-color: var(--mainColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}

.s2{
    background-color: var(--secondaryColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}

.main-container{
    width: 1200px;
    margin: 0 auto;
}

.greeting-wrapper{
    display: grid;
    text-align: center;
    align-content: center;
    min-height: 10em;
    
}

ul{
    list-style: none;
}

a{ 
    text-decoration: none;
    color:#17a2b8;
}
h1 { font-size: 56px;}
h2 { font-size: 36px;}
h3 { font-size: 28px;}
h4 { font-size: 24px;}
h5 { font-size: 20px;}
h6 { font-size: 16px;}

.intro-wrapper{
    background-color: var(--secondaryColor);
    border: 1px solid var(--borderColor);
    border-radius: 5px 5px 0 0;
    -webkit-box-shadow: 46px 49px 54px -22px rgba(0,0,0,0.75);
    -moz-box-shadow: 46px 49px 54px -22px rgba(0,0,0,0.75);
    box-shadow: 46px 49px 54px -22px rgba(0,0,0,0.75);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3em 30em;
    grid-template-areas:
    'nav-wrapper nav-wrapper'
    'left-column right-column';
}

.nav-wrapper{
    grid-area: nav-wrapper;
    border-bottom: 1px solid var(--borderColor);
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--mainColor);
}

#navigation{
    padding: 10px;
    margin: 0;
}
#navigation a{
	color:var(--mainText);
}
#navigation li{
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}

#profile-pic{
    height: 200px;
    display: block;
    margin: 0 auto;
    width: 200px;
    object-fit: cover;
    border: 2px solid var(--borderColor);
}

#theme-options-wrapper{
    display: flex;
    justify-content: center;
}
.theme-dot{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 5px;
    border: 2px solid var(--themeDotBorder);

    -webkit-box-shadow: 46px 49px 54px -22px rgba(0,0,0,0.75);
    -moz-box-shadow: 46px 49px 54px -22px rgba(0,0,0,0.75);
    box-shadow: 46px 49px 54px -22px rgba(0,0,0,0.75);
    cursor: pointer;
}
.theme-dot:hover{
    border-width: 5px;
}

#light-mode{
    background-color: #fff;
}
#blue-mode{
    background-color: #192734;
}
#green-mode{
    background-color: green;
}
#purple-mode{
    background-color: purple;
}

#settings-note{
    font-size: 12 px;
    font-style: italic;
    text-align: center;
}

.dots-wrapper{
   display: flex;
   padding: 10px;
}

.browser-dot{
    background-color: black;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 5px;

    -webkit-box-shadow: 46px 49px 54px -22px rgba(0,0,0,0.75);
    -moz-box-shadow: 46px 49px 54px -22px rgba(0,0,0,0.75);
    box-shadow: 46px 49px 54px -22px rgba(0,0,0,0.75);
}

#dot-1{
    background-color: #fc6058;
}
#dot-2{
    background-color: grey;
}
#dot-3{
    background-color: #2aca3e;
}


.left-column{
    grid-area: left-column;
    padding-top: 50px;
    padding-bottom: 50px;
}

.right-column{
    grid-area: right-column;
    display: grid;
    align-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

#preview-shadow{
    background-color: var(--previewShadow);
    width: 300px;
    height: 170px;
    padding-left: 30px;
    padding-top: 30px;
}

#preview{
    width: 300px;
    padding: 15px;
    border: 1.5px solid #17a2b8;
    background-color: var(--previewBg);
    position: relative;
}

.corner{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 1.5px solid #17a2b8;
    background-color: #fff;
    position: absolute;
}

#corner-t1{
    top:-5px;
    left:-5px;
}
#corner-tr{
    top:-5px;
    right:-5px;
}
#corner-br{
    bottom:-5px;
    right:-5px;
}
#corner-b1{
    bottom:-5px;
    left:-5px;
}

.about-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
    padding-bottom: 50px;
    padding-top: 50px;
    gap: 50px;
}

#skills{
    display: flex;
    
    justify-content: space-evenly;
    background-color: var(--previewShadow);

}

#submit-btn{
    margin-top: 10px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    background-color: var(--buttonColor);
    border: None;
}

#contact-form{
    display: block;
    max-width: 600px;
    margin: 0 auto;
    background: 1px solid var(--borderColor);
    background-color: var(--mainColor);
    margin-bottom: 1px;
    padding: 15px;
}

.input-field{
	width: 100%;
	padding-top: 10px;
	padding-bottom:10px; 
	background-color: var(--secondaryColor);
	border-radius: 5px;
	border:1px solid var(--borderColor);
	font-size: 14px;
}

#contact-form label{
	line-height: 2.7em;
}

#contact-form textarea{
	min-height: 100px;
	font-size: 14px;
}


@media screen and (max-width: 1200px) {
    .main-container{
        width: 95%;

    }
}

@media screen and (max-width: 800px) {
    .intro-wrapper{
        grid-template-columns: 1fr;
        grid-template-areas:
        'nav-wrapper'
        'left-column' 
        'right-column'
        ;
    }
    .right-column{
        justify-content: center;
    }
    
}